body {
	margin: 0px;
}
.container {
	display: flex;
}
.nav-bar {
	 background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 130px;
    color: white;
    margin-top: 0px;
    justify-content: space-between;
    align-items: center;
}
a {
	 color: inherit; 
}
.nav-icons{
	flex-basis: 70%;
	display: flex;
	flex-direction: column;

}
.nav-icons li {
	padding-bottom: 55px;
}
li {
	text-decoration: none;
	list-style-type: none;  
}
i {
	font-size: 25px;
	
}
.nav-icons ul {
	padding: 0;
}
.logo{
	padding-top: 30px;
}

wrapper {
    display:flex;
    justify-content: left;
    height: 70px;
}

header {
    width: 100%;

    padding: 0 25px;
    background-color: white;
}

.headerSection {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

h1 {
    font-size: 16px;
}

header i {
    color: grey
}

.headerElements {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchBar {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 5px;
    color:lightgray;
    margin-right: 50px;
}

.searchBar button {
    background-color: white;
    border: none;
}

input {
    border: none;
    font-size: 12px;
    font-weight: 300;
    padding: 2px;
    color: grey;
}

input:focus {
    background-color: #faf9fc;
    border: none;
    outline: none;
}

.searchBar:focus-within {
    background-color: #faf9fc;
    /* change the background color of the parent div */
}

.cartButton {
    color: darkgray;
}


hr {
    width: 100%;
    border: none;
    background-color: #f8f8fa;
    height: 1px;
}
//header functions
function focusSearchBar() {
    document.querySelector(".searchInput").focus();
  }

  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.food-cards {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    background: #fff;
    padding: 30px;
}

.pepperoni-pizza {
    display: flex;
    flex-direction: column;
    padding: 8px 20px;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pepperoni-pizza h3 {
    text-align: center;
    color: gray;
    margin: 5px;
}

.pepperoni-pizza img{
    /* margin-top: 5px; */
    margin-left: 5px;
    width: 250px;
    border-radius: 10px;
}

.pepperoni-pizza ul{
    list-style: none;
}

.description{
    margin-top: 10px;
    font-size: large;
}

a{
    text-decoration: none;
    font-weight: 600;
    font-size: medium;
    padding: 5px 5px;
    width: 150px;
    border-radius: 15px;
    color: white;
    background: gray;
    margin: 10px 40px 5px;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
}